* {
  margin: 0;
  padding: 0;
}

.books-header {
  margin-bottom: 20px;
}

.books-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.add-books input {
  display: block;
  margin-bottom: 15px;
}
